---
apiVersion: v1
kind: LimitRange
metadata:
  name: limit-range
spec:
  limits:
  - default:
      memory: 128Mi
      cpu: 100m
      ephemeral-storage: 100Mi
    defaultRequest:
      memory: 128Mi
      cpu: 100m
      ephemeral-storage: 100Mi
    type: Container

---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources
spec:
  hard:
#    pods: "4"
    requests.cpu: "{{ charts_quotas_cpu_requests }}"
    requests.memory: {{ charts_quotas_memory_requests }}
    requests.ephemeral-storage: {{ charts_quotas_ephemeral_storage_requests }}
    limits.cpu: "{{ charts_quotas_cpu_limits }}"
    limits.memory: {{ charts_quotas_memory_limits }}
    limits.ephemeral-storage: {{ charts_quotas_ephemeral_storage_limits }}
