apiVersion: 1

providers:
- name: 'Openstack-Exporter Dashboard'
  orgId: 1
  folder: 'openstack-exporter-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/openstack-exporter-dashboard'
