apiVersion: 1

providers:
- name: 'Docker Dashboard'
  orgId: 1
  folder: 'docker-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/docker-dashboard'
