apiVersion: 1

providers:
- name: 'Postgres-Exporter Dashboard'
  orgId: 1
  folder: 'postgres-exporter-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/postgres-exporter-dashboard'
