apiVersion: 1

providers:
- name: 'Versions Dashboard'
  orgId: 1
  folder: 'versions-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/versions-dashboard'
