apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: '{{ grafana_datasource_name }}'
    orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
  # <string, required> name of the datasource. Required
- name: '{{ grafana_datasource_name }}'
  type: 'prometheus'
  access: 'proxy'
  orgId: 1
  url: {{ grafana_datasource_url }}
  basicAuth: false
  isDefault: true
  editable: false
  jsonData:
    editable: false
    httpMode: POST
    tlsSkipVerify: true
    timeInterval: "1m"
