apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: '{{ grafana_datasource_name }}'
    orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
  # <string, required> name of the datasource. Required
- name: '{{ grafana_datasource_name }}'
  type: 'prometheus'
  access: 'proxy'
  orgId: 1
  url: {{ grafana_datasource_url }}
  basicAuth: false
  isDefault: true
  editable: false
  jsonData:
    editable: false
    httpMode: POST
    tlsSkipVerify: true
    timeInterval: "1m"

{% if grafana_mid_eda_datasource_password %}

- name: MidEDA
  type: postgres
  url: {{ grafana_mid_eda_datasource_url }}
  database: {{ grafana_mid_eda_datasource_database }}
  user: {{ grafana_mid_eda_datasource_user }}
  secureJsonData:
      password: '{{ grafana_mid_eda_datasource_password }}'
  jsonData:
      sslmode: 'require' 
      maxOpenConns: 0 # unlimited
      maxIdleConns: 2 
      connMaxLifetime: 14400 
      postgresVersion: {{ grafana_postgres_datasource_version }} # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
      timescaledb: true

{% endif %}