
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: coder-dev
  namespace: "{{ k8s_coder_namespace }}"

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: coder-dev-cluster-role
  namespace: "{{ k8s_coder_namespace }}"
rules:
- apiGroups: ["", "batch", "apps"]
  resources: ["deployments", "jobs", "pods", "pods/log", "pods/exec", "configmaps",
              "pods/portforward", "pods/attach", "persistentvolumeclaims", "services", "secrets",
              "endpoints", "events", "podtemplates", "replicationcontrollers",
              "daemonsets", "replicasets", "statefulsets", "cronjobs"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["namespaces", "storageclasses", "serviceaccounts",
              "resourcequotas", "persistentvolumes", "limitranges",
              "nodes", "componentstatuses"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: coder
  namespace: "{{ k8s_coder_namespace }}"
subjects:
  - kind: ServiceAccount
    name: coder-dev
    namespace: "{{ k8s_coder_namespace }}"
roleRef:
  kind: ClusterRole
  name: coder-dev-cluster-role
  apiGroup: rbac.authorization.k8s.io
