apiVersion: v1
kind: Secret
metadata:
  name: coder-secrets
  namespace: "{{ k8s_coder_namespace }}"
type: Opaque
data:
  tls.key: "{{ coder_key | b64encode }}"
  tls.crt: "{{ coder_crt | b64encode }}"
