apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: '{{ grafana_datasource }}'
    orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
  # <string, required> name of the datasource. Required
- name: '{{ grafana_datasource }}'
  type: 'prometheus'
  access: 'proxy'
  orgId: 1
  url: https://{{ ansible_fqdn | default(ansible_host) | default('localhost') }}:9090
  basicAuth: false
  isDefault: true
  editable: false
  jsonData:
    editable: false
    httpMode: POST
    tlsSkipVerify: true
    timeInterval: "1m"
- name: 'InfluxDBInfluxQL'
  type: 'influxdb'
  access: 'proxy'
  url: http://{{ grafana_influxdb | default(ansible_host) | default('localhost') }}:8086
  database: {{ grafana_influxdb_db }}
  basicAuth: false
  isDefault: false
  editable: false
  jsonData:
    httpMode: POST
    version: InfluxQL
- name: 'InfluxDBFlux'
  type: 'influxdb'
  access: 'proxy'
  url: http://{{ grafana_influxdb | default(ansible_host) | default('localhost') }}:8086
  basicAuth: false
  isDefault: false
  secureJsonData:
    token: "test:test"
  jsonData:
    editable: false
    httpMode: POST
    version: Flux
    organization: "non-empty"
    defaultBucket: {{ grafana_influxdb_db }}/autogen
    tlsSkipVerify: true
    timeInterval: "1m"
