{
  "kubernetes_deb_version": "{{ capi_ib_kubernetes_version }}-00",
  "kubernetes_rpm_version": "{{ capi_ib_kubernetes_version }}-0",
  "kubernetes_semver": "v{{ capi_ib_kubernetes_version }}",
  "kubernetes_series": "v{{ capi_ib_kubernetes_series }}"
}