---
apiVersion: v1
kind: Service
metadata:
  name: {{ gitlab_runner_k8s_release_name }}-metrics
  labels:
    app: {{ gitlab_runner_k8s_release_name }}-metrics
spec:
  type: NodePort
  ports:
  - name: metrics
    port: 9252
    targetPort: metrics
    # This should be the same in haproxy.cfg
    nodePort: {{ gitlab_runner_k8s_metrics_port }}
  selector:
    app: {{ gitlab_runner_k8s_release_name }}-gitlab-runner
