#!/usr/bin/bash

echo "Running the cluster initialisation"

# All Rook Ceph variables
# make squashes the "s so we have to do a replace with QTE
export KUBECONFIG="${KUBECONFIG}"
export ROOK_EXTERNAL_CEPH_MONITORS="$(echo "${ROOK_EXTERNAL_CEPH_MONITORS}" | sed 's/QTE/"/g')"
export ADMIN_USER_NAME=$(echo -n "${ROOK_EXTERNAL_ADMIN_USER_NAME}" | base64)
export ADMIN_SECRET_BASE64=$(echo -n "${ROOK_EXTERNAL_ADMIN_SECRET}" | base64 -w 0)

set -x

# monitors are misconfigured for external Ceph - NOTE clusterID and Namespace !!!!!!
echo ""
echo "fixing rook-ceph-csi-config"
kubectl -n {{ k8s_rook_namespace }} get configmap rook-ceph-csi-config -o yaml || true
kubectl -n {{ k8s_rook_namespace }} apply -f - <<EOF
apiVersion: v1
data:
  csi-cluster-config-json: '[{"clusterID":"{{ k8s_rook_namespace }}","monitors":[$ROOK_EXTERNAL_CEPH_MONITORS]}]'
kind: ConfigMap
metadata:
  name: rook-ceph-csi-config
  namespace: {{ k8s_rook_namespace }}
EOF

# patch the secret
echo "Patch the secrets"
# patch secret if it exists
# https://github.com/rook/rook/issues/6089
kubectl patch secret/rook-ceph-mon \
        -n {{ k8s_rook_namespace }} \
        --type merge \
        -p "{\"data\":{\"ceph-username\":\"$ADMIN_USER_NAME\",\"ceph-secret\":\"$ADMIN_SECRET_BASE64\"} }" || true

echo "Finished."
exit 0
