unqualified-search-registries = ["docker.io"]

{% for registry in podman_upstream_registries -%}
{% if registry.mirrors and (registry.mirrors | length) > 0 %}
[[registry]]
location = "{{ registry.name }}"

{% for mirror in registry.mirrors -%}
[[registry.mirror]]
{% set prefix, domain = mirror.split('://') %}
location = "{{ domain }}"
{% if prefix == "http" %}
insecure = true
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}