unqualified-search-registries = ["docker.io"]

{% for registry in podman_upstream_registries -%}
[[registry]]
location = "{{ registry }}"

{% for mirror in podman_registry_mirrors -%}
[[registry.mirror]]
location = "{{ mirror.url }}"
{% if mirror.insecure  %}
insecure = true
{% endif %}
{% endfor %}

{% endfor %}