unqualified-search-registries = ["docker.io"]

[[registry]]
location = "docker.io"
insecure = false

{% for registry in podman_registry_mirrors -%}
[[registry.mirror]]
location = "{{ registry }}"
insecure = true
{% endfor %}