[Unit]
Description=BYOH Agent
# see https://github.com/vmware-tanzu/cluster-api-provider-bringyourownhost/blob/main/hack/install-host-agent-service.sh
# Documentation=BYOH Agent for clusterapi
# https://www.shellhacks.com/systemd-service-file-example/
# https://github.com/vmware-tanzu/cluster-api-provider-bringyourownhost
After=network.target multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
EnvironmentFile=/etc/default/byohagent
User=root
ExecStart={{ byoh_remote_agent_file }} --bootstrap-kubeconfig {{ byoh_remote_kubeconfig_file }} --label role={{ host_grouping }} --v=5
#Restart=always
#RemainAfterExit=true

[Install]
WantedBy=multi-user.target
