type: S3
config:
  access_key: "{{ thanos_s3_store_access_key }}" 
  secret_key: "{{ thanos_s3_store_secret_key }}" 
  endpoint: "{{ thanos_s3_server_auth_url }}"
  region: "eu-west-2"
  bucket: "skao-bkp-prometheus-metrics"
