installation:
  enabled: true
  calicoNetwork:
    ipPools:
        - cidr: "{{ calico_ipv4pool_cidr }}"
          encapsulation: None
    nodeAddressAutodetectionV4:
        interface: "{{ calico_ip_autodetection_interface }}"

# Image and registry configuration for the tigera/operator pod.
tigeraOperator:
  version: v{{ calico_tigera_operador_version }}
calicoctl:
  tag: v{{ calico_version }}