---
# Specify settings with the same key as the CCM config: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md#config-openstack-cloud-controller-manager
cloudConfig:
  global:
    auth-url: {{ capi_capo_auth_url }}
{% if capi_capo_auth_type | length %}
    auth-type: {{ capi_capo_auth_type }}
{% endif %}
{% if capi_capo_auth_username | length %}
    username: {{ capi_capo_auth_username }}
    password: {{ capi_capo_auth_password }}
{% endif %}
{% if capi_capo_auth_project_id | length %}
    tenant-id: {{ capi_capo_auth_project_id }}
{% endif %}
{% if capi_capo_auth_project_name | length %}
    tenant-name: {{ capi_capo_auth_project_name }}
{% endif %}
{% if capi_capo_auth_user_domain_name | length %}
    domain-name: {{ capi_capo_auth_user_domain_name }}
{% endif %}
    region: {{ capi_capo_region_name }}
{% if capi_capo_auth_domain_id | length %}
    domain-id: {{ capi_capo_auth_domain_id }}
{% endif %}
{% if capi_capo_auth_application_credential_name | length %}
    application-credential-name: {{ capi_capo_auth_application_credential_name }}
{% endif %}
{% if capi_capo_auth_application_credential_id | length %}
    application-credential-id: {{ capi_capo_auth_application_credential_id }}
{% endif %}
{% if capi_capo_auth_application_credential_secret | length %}
    application-credential-secret: {{ capi_capo_auth_application_credential_secret }}
{% endif %}
# https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  loadBalancer:
    internal-lb: true
#    floating-subnet: SKA-TechOps-ClusterAPI-Net1
    create-monitor: true

# ensure the daemonset is free of these taints
tolerations:
  - key: node.cloudprovider.kubernetes.io/uninitialized
    value: "true"
    effect: NoSchedule
  - key: node-role.kubernetes.io/controlplane
    value: "true"
    effect: NoSchedule
#  - key: node-role.kubernetes.io/etcd
#    value: "true"
#    effect: NoExecute
