# Cluster Settings
cluster.name: "{{ elasticsearch_cluster_name }}"
discovery.type: "{{ elasticsearch_discovery_type }}"
discovery.seed_hosts:
{% for host in groups[target_hosts ~ '-master'] %}
  - {{ host }}
{% endfor %}
action.auto_create_index: "true"
{% if elasticsearch_first_install %}
cluster.initial_master_nodes:
{% for host in groups[target_hosts ~ '-master'] %}
  - {{ host }}
{% endfor %}
{% endif %}

# XPAC Settings
xpack.monitoring.collection.enabled: "true"
xpack.security.enabled: "false"

# Node Settings
node.name: "{{ inventory_hostname }}"
node.roles: {{ elasticsearch_node_roles }}
network.bind_host: "0.0.0.0"
network.publish_host: "{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}"
http.port: {{ elasticsearch_api_port }}
transport.port: {{ elasticsearch_transport_port }}
bootstrap.memory_lock: "true"
indices.cache.cleanup_interval: "1m"