{
  "default-address-pools": [
    {
        "base": "172.21.0.0/16",
        "size": 24
    }
  ],
  {% if docker_registry_mirror|length > 1 %}
  "registry-mirrors": ["{{ docker_registry_mirror }}"],
  {% endif %}
  "metrics-addr" : "0.0.0.0:{{ docker_metrics_port }}",
  {% if docker_mtu is defined %}
  "mtu" : {{ docker_mtu }},
  {% endif %}
  "experimental" : true,
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
      "max-size": "{{ docker_log_max_size }}",
      "max-file": "{{ docker_log_max_file }}"
      },
{% if docker_activate_nvidia|bool and nvidia_driver_exists|bool %}
  "exec-opts": ["native.cgroupdriver=cgroupfs"],
    "default-runtime": "nvidia",
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        }
    }
{% else %}
  "exec-opts": ["native.cgroupdriver=cgroupfs"]
{% endif %}
}
