{
    "policy": {
      "phases": {
        "hot": {
          "min_age": "0ms",
          "actions": {
            "rollover": {
              "max_size": "{{ logging_filebeat_hot_phase_rollover_size }}",
              "max_age": "{{ logging_filebeat_hot_phase_rollover_age }}"
            }
          }
        },
        "warm": {
          "actions": {}
        },
        "cold": {
          "min_age": "{{ logging_filebeat_cold_phase_age }}",
          "actions": {
            "migrate": {
              "enabled": false
            }
          }
        },
        "delete": {
          "min_age": "{{ logging_filebeat_delete_phase_age }}",
          "actions": {}
        }
      }
    }
}