{
    "description": "SKA log parsing pipeline",
    "processors": [{
            "grok": {
                "field": "MESSAGE",
                "ignore_failure": true,
                "patterns": ["%{INT:ska_version}\\|%{DATA:ska_log_timestamp}\\|%{DATA:ska_severity}\\|%{DATA:ska_thread_id}\\|%{DATA:ska_function}\\|%{DATA:ska_line_loc}\\|%{DATA:ska_tags}\\|(?<ska_log_message>(.|\r|\n)*)$"]
            }
        },
        {
            "grok": {
                "field": "message",
                "ignore_failure": true,
                "patterns": ["%{INT:ska_version}\\|%{DATA:ska_log_timestamp}\\|%{DATA:ska_severity}\\|%{DATA:ska_thread_id}\\|%{DATA:ska_function}\\|%{DATA:ska_line_loc}\\|%{DATA:ska_tags}\\|(?<ska_log_message>(.|\r|\n)*)$"]
            }
        },
        {
            "grok": {
                "field": "log",
                "ignore_failure": true,
                "patterns": ["%{INT:ska_version}\\|%{DATA:ska_log_timestamp}\\|%{DATA:ska_severity}\\|%{DATA:ska_thread_id}\\|%{DATA:ska_function}\\|%{DATA:ska_line_loc}\\|%{DATA:ska_tags}\\|(?<ska_log_message>(.|\r|\n)*)$"]
            }
        },
        {
            "kv": {
                "field": "ska_tags",
                "target_field": "ska_tags_field",
                "field_split": ",",
                "value_split": ":",
                "ignore_missing": true,
                "ignore_failure": true  
            }
        },
        {
            "grok": {
                "field": "MESSAGE",
                "ignore_failure": true,
                "patterns": ["Transaction\\[txn\\-local\\-%{DATA:ska_transaction_id}\\]"]
            }
        },
        {
            "grok": {
                "field": "message",
                "ignore_failure": true,
                "patterns": ["Transaction\\[txn\\-local\\-%{DATA:ska_transaction_id}\\]"]
            }
        },
        {
            "grok": {
                "field": "log",
                "ignore_failure": true,
                "patterns": ["Transaction\\[txn\\-local\\-%{DATA:ska_transaction_id}\\]"]
            }
        }
    ]
}
