#!/bin/bash

function log () { 
  echo $1 >> {{ snmp_trap_logs_dir }}/traps.log 
}

read host
read ip

oidPrefix="SNMPv2-SMI::enterprises.5491."

v1=
v2=
v3=

while read oid val
do

  log "$oid = $val"

  if [ $oid = "$oidPrefix""10.1.2.3.0" ] #rupsEstimatedMinutesRemaining
  then
    v1=$val
  elif [ $oid = "$oidPrefix""10.1.2.2.0" ] #rupsSecondsOnBattery
  then
    v2=$val
  elif [ $oid = "$oidPrefix""10.1.9.7.0" ] #rupsConfigLowBattTime
  then
    v3=$val    
  fi

done

log "rupsEstimatedMinutesRemaining: $v1"
log "rupsSecondsOnBattery: $v2"
log "rupsConfigLowBattTime: $v3"


. /home/ubuntu/kayobe-env
kayobe playbook run /home/ubuntu/kayobe/config/src/kayobe-config/etc/kayobe/ansible/shutdown.yml -e rupsEstimatedMinutesRemaining=$v1 \
      -e rupsSecondsOnBattery=$v2 \
      -e rupsConfigLowBattTime=$v3 >> shutdown.txt