concurrent = {{ gitlab_runner_concurrent_jobs }}
check_interval = {{ gitlab_runner_check_interval }}
log_level = '{{ gitlab_runner_log_level }}'
listen_address = '0.0.0.0:{{ gitlab_runner_metrics_port }}'
