---
apiVersion: v1
kind: ConfigMap
metadata:
  name: create-cache-config
  namespace: {{ gitlab_runner_minio_namespace }}
data:
  create-cache.sh: |
    # Get access to our tenant (named cache)
    mc alias set cache http://minio "{{ gitlab_runner_minio_access_key }}" "{{ gitlab_runner_minio_secret_key }}"
    # Create cache bucket
    mc mb --ignore-existing cache/{{ gitlab_runner_gitlab_s3_bucket_name }}
    # Create read-write policy for cache bucket
    # For policy rights see: https://docs.gitlab.com/runner/configuration/advanced-configuration.html
    cat > cachereadwrite.json << EOF
    {
      "Version": "2012-10-17",
      "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:GetBucketLocation",
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::cache"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:DeleteObject",
                "s3:GetObject",
                "s3:GetObjectVersion",
                "s3:PutObject"
            ],
            "Resource": [
                "arn:aws:s3:::cache/*"
            ]
        }
      ]
    }
    EOF
    mc admin policy create cache cachereadwrite cachereadwrite.json
    # Add user and set the policy
    mc admin user add cache {{ gitlab_runner_minio_username }} {{ gitlab_runner_minio_password }}
    mc admin policy set cache cachereadwrite user={{ gitlab_runner_minio_username }}

---
apiVersion: batch/v1
kind: Job
metadata:
  name: config-users
  namespace: {{ gitlab_runner_minio_namespace }}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 5
  template:
    spec:
      volumes:
      - name: config-volume
        configMap:
          name: create-cache-config
          defaultMode: 0777
      containers:
      - name: config-users
        image: {{ gitlab_runner_minio_mc_image }}
        command: 
        - sh
        args:
        - -c
        - "/tmp/data/create-cache.sh"
        env:
        - name: ACCESS_KEY
          valueFrom:
            secretKeyRef:
                name: minio-creds-secret
                key: accesskey
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
                name: minio-creds-secret
                key: secretkey
        volumeMounts:
        - name: config-volume
          mountPath: /tmp/data
      restartPolicy: Never
