api_version: v1
kind: Secret
metadata:
    name: console-sa-secret
    namespace: "{{ gitlab_runner_minio_namespace }}"
    annotations:
        kubernetes.io/service-account.name: console-sa
type: kubernetes.io/service-account-token
