---
apiVersion: v1
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{ minikube_ip_prefix }}.95-{{ minikube_ip_prefix }}.195
kind: ConfigMap
metadata:
  name: config
  namespace: metallb-system
